<div style="width: 100%; text-align: center;">
    <div class="ui input position" style="width: 50px;">
        <input type='text' value="{{ data.position }}" name="social_medias[{{ data.id }}]" form="dotit-update-social_medias" class="dotit-social_media-position" style="text-align: center;" />
    </div>
</div>
